
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {

  font-family: 'Inter', sans-serif; 
  line-height: 1.5;
  font-weight: 400;
  
 
  background-color: #f0f2f5; 
  color: #333; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}


#root, .ant-typography, .ant-btn, .ant-input, .ant-table {
  font-family: 'Inter', sans-serif !important;
}


a {
  font-weight: 500;
  color: #18ffb6; 
  text-decoration: inherit;
}
a:hover {
  color: #202020;
}

